{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add category</button>
    {{ form_end(form) }}

    <br><br>
    <a href="{{ path('category_index') }}">
        Retour à la liste
    </a>
{% endblock %}